@use "../helpers/variables" as *;
.slider {
  q {
    font: {
      size: 20px;
      style: italic;
      weight: bold;
      family: Tahoma, Arial;
    }
    display: block;
    line-height: 1.7;
    text-align: center;
    color: #5e5e5e;
    width: 80%;
    margin: 30px auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $greyColor;
      border-radius: 50%;
      border: 3px solid $greyColor;
      cursor: pointer;
      transition: $transition;
      &.active,
      &:hover {
        background-color: #fff;
        border-color: #333;
      }
    }
  }
}
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float-left;
      width: (100% / 3);
      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
    @media #{$maxMobile} {
      svg {
        display: block;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .service-title {
      color: #666;
      svg {
        font-size: 35px;
        position: relative;
        top: 4px;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
.our-players {
  .player-box {
    @media #{$minSmall} {
      float: $float-left;
      width: (100% / 2);
      text-align: center;
      margin-bottom: 40px;
    }
    @media #{$minMedium} {
      width: (100% / 3);
      text-align: $text-left;
      padding-right: 20px;
      padding-left: 20px;
    }
    @media #{$minLarge} {
      width: (100% / 5);
    }
    @media #{$maxMobile} {
      margin-bottom: 40px;
    }
    .player-img {
      max-width: 100%;
      height: auto;
    }
    .player-title {
      color: #666;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .service-desc {
      color: #777;
      line-height: 1.5;
    }
    .link {
      color: $redColor;
      text-decoration: none;
    }
  }
}
.lorem-ipsum {
  .lorem-box {
    @media #{$maxMobile} {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    @media #{$minSmall} {
      float: $float-left;
      width: (94% / 3);
      &:not(:last-of-type) {
        margin-right: 3%;
      }
    }
    .lorem-img {
      max-width: 100%;
      height: auto;
    }
  }
}
