@mixin minMedium {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin prefixer($prop, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$prop}: $value;
    }
    #{$prop}: $value;
}
@mixin keyF($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}